version: 2
updates:
  - package-ecosystem: npm
    versioning-strategy: increase
    directory: "/"
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      npm-storybook-dependencies:
        patterns:
          - "storybook"
          - "@storybook/*"
          - "vite"
          - "remark-gfm"
      npm-i18next-dependencies:
        patterns:
          - "i18next"
          - "i18next-*"
          - "react-i18next"
      npm-emotion-dependencies:
        patterns:
          - "@emotion/*"
      npm-mui-dependencies:
        patterns:
          - "@mui/*"
      npm-fortawesome-dependencies:
        patterns:
          - "@fortawesome/*"
      npm-bootstrap-dependencies:
        patterns:
          - "bootstrap"
          - "react-bootstrap"
      npm-react-dependencies:
        patterns:
          - "react"
          - "react-*"
      npm-aws-amplify-dependencies:
        patterns:
          - "aws-amplify"
          - "@aws-amplify/*"
      npm-apollo-dependencies:
        patterns:
          - "@apollo/*"
          - "apollo-*"
          - "@types/apollo-*"
      npm-development-dependencies:
        dependency-type: "development"

  - package-ecosystem: github-actions
    directory: "/"
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
