name: Internal - Common Continuous Integration tasks

on:
  workflow_call:
    outputs:
      build-artifact-id:
        description: "Path to the build artifact"
        value: ${{ jobs.continuous-integration.outputs.build-artifact-id }}

permissions: {}

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@a9809af04394e66675b8644865be1ddcec02cdcd # 0.20.0
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    with:
      build: |
        {
          "commands": ["build:ci", "storybook:build", "docs:build"],
          "artifact": ["packages/**/lib", "build", "packages/**/docs"]
        }
      test: |
        { "coverage": "codecov" }
