name: Internal - Common Continuous Integration tasks

on:
  workflow_call:

permissions: {}

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@ce2bb8274a37c1219be2bcae2a1b2528c2c72957 # 0.19.0
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      security-events: write
    with:
      build: |
        {
          "commands": ["build:ci", "storybook:build", "docs:build"],
          "artifact": ["packages/**/lib", "build", "packages/**/docs"]
        }
      test: |
        { "coverage": "codecov" }
