name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  greetings:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/greetings.yml@0af942d205af4f823e1545fc16c5b790de4339bf # 0.27.0
